[user]
	email = s.hsdust@outlook.com
	name = emrys
[credential]
	helper = store
[http]
	postBuffer = 524288000
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
